<h3>Please give your details and enquery, We would reach you in no-time.</h3>
    <form>
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input class="form-control" id="email" type="text" name="email" placeholder="Email" /></div>
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span><input class="form-control" id="msg" type="numbre" name="number" placeholder="Comtact Number" /></div>
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-copy"></i></span><input class="form-control" id="msg" type="text" name="msg" placeholder="Additional Info" /></div>
        <div class="input-submit"><button (click)="submitdata()">Submit</button></div>
    </form>